body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}
button {
    padding: 5px 15px;
    cursor: pointer;
}
#preview {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

#preview img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
}
.bw {
    filter: grayscale(100%);
}

