body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}
button {
    padding: 5px 15px;
    cursor: pointer;
}
iframe {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc
}
#pdfViewer {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}
